<h1>{{calculators}}</h1>

<div style="margin-left: 500px">
  <input type="number" class="form-check-input" [(ngModel)]="firstNumber">
  <br>
  <br>
  <input type="number" class="form-check-input" [(ngModel)]="secondNumber">
  <br>
  <br>
  <select [(ngModel)]="operator">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <br>
  <hr>
  <button (click)="calculator()" class="btn-primary">result</button>
  <h1>{{result}}</h1>
</div>
